body {
  margin: 0;
  line-height: normal;
}

.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  inset: 0;
}

:root {
  /* fonts */
  --subheading: Inter;
  --body-styles-body-01: "IBM Plex Sans";

  /* font sizes */
  --subheading-size: 24px;
  --font-size-lgi: 19px;
  --label-l100-b-size: 16px;
  --caption-c100-l-size: 12px;
  --heading-h100-size: 20px;
  --body-styles-body-01-size: 14px;
  --heading-size: 40px;
  --font-size-13xl: 32px;
  --font-size-lg: 18px;
  --font-size-11xl: 30px;
  --font-size-xs-5: 11.5px;
  --title-size: 64px;

  /* Colors */
  --white: #fff;
  --color-yellowgreen-100: #86bc25;
  --color-yellowgreen-200: rgba(134, 188, 37, 0.5);
  --carbon-500: #828282;
  --color-gray-100: #808080;
  --text-text-primary: #161616;
  --carbon-200: #ccc;
  --color-mediumseagreen-100: #30bf7a;
  --secondary-s700: #17a661;
  --carbon-400: #9c9c9c;
  --color-lavender: rgba(230, 236, 255, 0);
  --carbon-800: #363636;
  --accent-1-900: #ffab0a;
  --color-black: #000;
  --text-text-secondary: #525252;
  --color-darkkhaki: rgba(212, 195, 125, 0.14);
  --color-cornflowerblue-100: rgba(26, 153, 230, 0);
  --color-olivedrab: #548a00;
  --cloud-dark: #bac7d5;

  /* Spacing */
  --spacing-s: 24px;

  /* Gaps */
  --gap-xl: 20px;
  --gap-5xs: 8px;
  --gap-10xl: 29px;
  --gap-19xl: 38px;
  --gap-lgi: 19px;
  --gap-2xl: 21px;
  --gap-8xl: 27px;
  --gap-7xs: 6px;
  --gap-xs: 12px;
  --gap-10xs: 3px;
  --gap-3xs: 10px;
  --gap-4xs: 9px;
  --gap-5xl: 24px;
  --gap-smi: 13px;
  --gap-9xs: 4px;
  --gap-22xl: 41px;
  --gap-11xs: 2px;
  --gap-sm: 14px;
  --gap-7xl: 26px;

  /* Paddings */
  --padding-16xl: 35px;
  --padding-3xs: 10px;
  --padding-9xs: 4px;
  --padding-18xl: 37px;
  --padding-21xl: 40px;
  --padding-lg: 18px;
  --padding-13xl: 32px;
  --padding-xl: 20px;
  --padding-2xl: 21px;
  --padding-lgi: 19px;
  --padding-5xs: 8px;
  --padding-10xs: 3px;
  --padding-7xs: 6px;
  --padding-6xs: 7px;
  --padding-5xl: 24px;
  --padding-12xs: 1px;
  --padding-xs: 12px;
  --padding-11xs: 2px;
  --padding-8xs: 5px;
  --padding-base: 16px;
  --padding-mini: 15px;
  --padding-17xl: 36px;
  --padding-34xl-1: 53.1px;
  --padding-15xl: 34px;
  --padding-5xl-6: 24.6px;
  --padding-mid: 17px;
  --padding-sm: 14px;

  /* Border radiuses */
  --br-9xs: 4px;
  --br-5xl: 24px;
  --br-19xl: 38px;
  --br-5xs: 8px;
  --br-12xl: 31px;
  --br-8xs: 5px;
  --br-10xs: 3px;

  /* Effects */
  --button-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}
